.myCard {
    float: left;
    width: 40%;
    min-width: 280px;
    max-width: 288px;
    margin: 20px;
    transition: 0.3s;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    /* 5px rounded corners */
    /* left: 2.5%; */
}

.myCard:hover {
    box-shadow: 11px 14px 18px 0 rgba(0, 0, 0, 0.2);
}

.myCard img {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 300px;
    cursor: pointer;
    overflow: hidden;

}

.img-thumb-prod {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-thumb-prod img {
    border-radius: 5px 50px 5px 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.product-title {
    font-size: 20px;
    /* padding: 10px; */
    margin: 5px;
    color: black;
    text-align: center;
}

.product-desc {
    color: grey;
    padding: 10px;
    max-height: 100px;
    min-height: 100px;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 15px;
}

.product-status {
    color: white;
    position: relative;
    margin: 0px;
    text-align: center;
    padding: 1%;
    margin-bottom: 10px;
    font-size: 15px;

    font-weight: bold;
}

.product-status#available {
    background-color: #40f00b;
}

.product-status#borrowed {
    background-color: #d9f00b;
}