.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.User-picture {
  width: 24vh;
  height: 24vh;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 2vh;
  margin-bottom: 3vh;
  border-radius: 24vh;
}

.Library-picture {
  position: absolute;
  height: 100vh;
  float: left;
  left: 0;
  z-index: 0;
}

#inspire {
  text-align: left;
  font-size: 64px;
  margin-top: 5vh;
  margin-left: 5vh;
  position: absolute;
  z-index: 100;
  color: white;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

#disclaimer {
  text-align: left;
  font-size: 16px;
  margin-top: 95vh;
  margin-bottom: 0px;
  margin-left: 5vh;
  position: absolute;
  z-index: 100;
  color: white;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.Header {
  font-size: 64px;
  line-height: 83px;
  color: #424242;
}

.app-form-group {
  width: 50vh;
  max-height: 15vh;
}

.app-form-group .app-form-control {
  padding: 2vh;
  border: none;
}

figure {
  width: 100%;
  overflow: hidden;
  margin: 0;
}

figure img {
  margin: -45% 0;
}

figure img .csell-book-image {
  margin: -30% 0;
  margin-bottom: -75%;
  margin-top: 0%;
}

.book-csell-caption {
  background: black;
  opacity: 0.6;
  margin-left: -15%;
  width: 100%;
}

.cselll {
  max-width: 432px;
  max-height: 900px;

}

.cselll img {
  height: auto;
  width: auto;

}

#csell {
  height: 400px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}

#csell div {
  position: absolute;
  transition: 1s left 1s;
  opacity: 1;
}

#csell div img {
  width: 400px;
  transition: width 1s;
}

#csell div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

#csell div.hideLeft img {
  width: 200px;
}

#csell div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}

#csell div.hideRight img {
  width: 200px;
}

#csell div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}

#csell div.prev img {
  width: 300px;
}

#csell div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}

#csell div.prevLeftSecond img {
  width: 200px;
}

#csell div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}

#csell div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}

#csell div.next img {
  width: 300px;
}

#csell div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}

#csell div.nextRightSecond img {
  width: 200px;
}

.buttons {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}
